<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="showNameMapper" >
    <sql id="selectByShowName">
        <if test="e.showName != null and e.showName!=''">
            and (edu_user.show_name like CONCAT('%',#{e.showName},'%')
            OR edu_user.email like CONCAT('%',#{e.showName},'%')
            OR edu_user.mobile like CONCAT('%',#{e.showName},'%')
            OR edu_user.user_name like CONCAT('%',#{e.showName},'%'))
        </if>
    </sql>
</mapper>